.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    transition: 0.4s all ease;
}

.card:hover {
    background-color: rgb(102, 99, 99);
    color: #FFF;
    transform: scale(0.9);
}

.title {
    text-align: center;
}

.all {
    text-align: center;
    margin-bottom: 25px;
}

.loading {
    font-size: 52px;
    margin: 0 auto;
}

.input[type=checkbox] {
    transform: scale(1.8);
}